<ion-header class="ion-no-border">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-weight: 800;">Lanches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="--background: #121212;">
  <!-- Título da Categoria -->
  <div class="ion-margin-bottom">
    <h2 style="font-weight: 800; margin-bottom: 5px; color: white;">Nossos Burgers</h2>
    <p style="color: #888; margin-top: 0;">Os melhores blends da região.</p>
  </div>

  <ion-list lines="none" style="background: transparent;">
    <!-- Trocamos o [routerLink] pelo (click) para enviar o objeto completo -->
    <ion-item *ngFor="let p of produtos" 
              button 
              (click)="verDetalhes(p)"
              class="ion-margin-bottom" 
              style="--background: #1e1e1e; --border-radius: 15px; box-shadow: 0 4px 10px rgba(0,0,0,0.3);">
      
      <ion-thumbnail slot="start" style="width: 80px; height: 80px;">
        <img [src]="p.img" style="border-radius: 12px; object-fit: cover;" />
      </ion-thumbnail>

      <ion-label>
        <h2 style="font-weight: bold; font-size: 1.1rem; color: white;">{{ p.nome }}</h2>
        <p style="font-size: 0.85rem; white-space: normal; color: #bbb; margin: 5px 0;">{{ p.desc }}</p>
        <h3 style="color: #2dd36f; font-weight: 800; font-size: 1.1rem;">
          R$ {{ p.preco.toFixed(2) }}
        </h3>
      </ion-label>

      <ion-icon name="chevron-forward-outline" slot="end" color="medium"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>